      /*COLOURS */
      $color-primary-light: rgb(242, 116, 93);
      $color-primary: #f15946;
      $color-primary-dark: rgb(207, 72, 56);
  
      $color-neutral: #f8ffe5;
      $color-dark-theme: rgb(31, 32, 43);
      $color-dark-alt: #283845;
      $color-darker-alt: #202C39;
  
      /* FONTS */
      $font-title: 'Roboto Slab', serif;
      $font-headings: 'Ubuntu', sans-serif;
      $font-main: 'Montserrat', sans-serif;
      