.about {
    background-color: #F8FFE5;
    grid-column: center-start / full-end;
    grid-row: 2 / 3;

    grid-template-rows: repeat(6, minmax(3rem, 6rem));
    grid-template-columns: repeat(6, 1fr);
}