.header {
    display: block;
    background-image: linear-gradient(to right bottom, rgba(243,115,92,0.3), rgba(207,72,56,0.8)),url(../img/hero.jpeg);
    background-size: cover;
    background-color: $color-dark-theme; 
    grid-column: full-start / full-end;
    grid-row: 1 / 2;

}