%heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 6rem;
}

.heading-2 {
    @extend %heading;
}

.heading-3 {
    @extend %heading;
    font-size: 4rem;
}