.header {
    display: block;
    background-image: linear-gradient(to right bottom, rgba(248, 255, 229, 0.3),  rgba(242, 116, 93, 0.9)),url(../img/hero.jpeg);
   //rgba(207,72,56,0.3),
    background-size: cover;
    background-color: $color-primary-light; 
    color: $color-neutral;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &__navigation {
        font-size: 3rem;
        margin: 2rem 5rem;

        &--list {
            list-style-type: none;
            display: flex;    
        }

        &--item {
            padding-left: 3rem;
            font-family: $font-headings;
        }   

        &--link:link,
        &--link:visited {
            text-decoration: none;
            color: inherit;
        }

        &--link:hover,
        &--link:focus {
            color: $color-primary-light;
            outline: none;
        }
    }

    &__text-box {
        margin: 5rem;
        justify-self: flex-end;
    }

}
.heading-primary--sub {
    text-align: right;
}