.header {
    display: block;
    background-image: linear-gradient(to right bottom, rgba(248, 255, 229, 0.3),  rgba(242, 116, 93, 0.9)),url(../img/hero.jpeg);
   //rgba(207,72,56,0.3),
    background-size: cover;
    background-color: $color-primary-light; 
    color: $color-neutral;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    
    @include respond(phone) {
        background-position: center; 
    }
    @include respond(sm-phone) { 
        background-position: left; 
    }
    
    &__navigation {
        font-size: 3rem;
        padding: 2rem 5rem 2rem 2rem;
        display: flex;
        justify-content: space-between;

        &--list {
            list-style-type: none;
            margin-left: 25rem;
            display: flex;    

            @include respond(phone) {
                visibility: hidden;
                display: none; 
            }
        }

        &--item {
            font-family: $font-headings;

            &:not(:first-child) {
                padding-left: 3rem;
            }
        }   

        &--link:link,
        &--link:visited {
            text-decoration: none;
            color: inherit;

        }

        &--link:hover,
        &--link:focus {
            color: $color-primary-light;
            outline: none;
        }
    }

    &__text-box {
        margin: 5rem;
        justify-self: flex-end;

        @include respond(sm-phone) {
            margin: 3rem;
        }
    }
}

.heading-primary--main,
.heading-primary--sub {
    text-align: right;
}

.heading-primary--main {
    animation-delay: 0.5s;
    animation: 1.2s slideUp linear forwards;
    animation-timing-function: ease-out;
    transform: translateY(8rem);
}

.heading-primary--sub {
    animation-delay: 0.5s;
    animation: 2s slideUp linear forwards;
    animation-timing-function: ease-out;
    transform: translateY(10rem);
    }


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(40rem);
    }

    80% {
        transform: translateY(.8rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(.8rem)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}