/* 
0   - 400px:        sm phone (max-width)
400 - 600px:        phone  (max-width)
600 - 900px:        tablet Portrait   (max-width)
900 - 1200px:       tablet Landscape    (max-width)  *ABOUT section
[1200 - 1800px]     is normal desktop styles     (max-width)
1800px + :          Big desktop  (min width)


$ breakpoint arguement choices:
- sm-phone
- phone
- tap-port
- tab-land
- big-desktop

1em = 16px
*/
/*COLOURS */
/* FONTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: #202c39;
  box-sizing: border-box;
  background-color: #1f202b; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(3, min-content) 100vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media (max-width: 37.5em) {
    .container {
      grid-template-rows: 95vh repeat(3, min-content) 100vh min-content; } }
  @media only screen and (max-width: 20em) {
    .container {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.heading-1, .heading-1-5, .heading-2, .heading-2-5 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #f8ffe5; }

.heading-1 {
  font-size: 8rem;
  line-height: 1; }

.heading-1-5 {
  font-size: 6rem;
  line-height: 1;
  text-align: right; }

.heading-2 {
  font-size: 4rem;
  color: #f8ffe5; }

.heading-2-5 {
  font-size: 3.5rem;
  text-align: right;
  color: #f2745d; }

.heading-3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #f8ffe5;
  line-height: 1; }

.heading-4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #f2745d;
  line-height: 1; }

.mb-mini {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.ml-hg {
  margin-left: 25rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: #1f202b;
  font-size: 1.6rem;
  padding: 1.1rem 2rem;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  align-self: flex-end; }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      color: #f8ffe5; } }

.btn:hover {
  transform: translateY(-3px);
  background-color: transparent; }

.btn:active, .btn:focus {
  outline-color: #f2745d; }
  @media (max-width: 37.5em) {
    .btn:active, .btn:focus {
      color: #1f202b; } }

.arrow-right-icon {
  fill: #1f202b;
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  margin-left: 0.8rem;
  padding-bottom: 2px; }
  .arrow-right-icon:active, .arrow-right-icon:focus {
    fill: #f2745d;
    box-shadow: 0 1rem 2rem rgba(40, 56, 69, 0.2); }
    @media (max-width: 37.5em) {
      .arrow-right-icon:active, .arrow-right-icon:focus {
        fill: #1f202b; } }
  @media (max-width: 37.5em) {
    .arrow-right-icon {
      fill: #f8ffe5; } }

.navigation {
  align-self: flex-start;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  visibility: hidden; }
  @media (max-width: 37.5em) {
    .navigation {
      visibility: visible;
      order: 1; } }
  .navigation__icon {
    height: 4rem;
    width: 4rem;
    fill: #f8ffe5;
    position: absolute; }
  .navigation__invisible {
    visibility: hidden; }

.phone-nav {
  background-color: rgba(248, 255, 229, 0.85);
  height: 80vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.35); }
  .phone-nav__close_icon {
    position: absolute;
    height: 4rem;
    width: 4rem;
    fill: #1f202b;
    top: 1rem;
    left: 1rem; }
  .phone-nav__list {
    position: absolute;
    width: 80%;
    list-style-type: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .phone-nav__item {
    margin: 4rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
    text-align: center;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, rgba(248, 255, 229, 0.85), rgba(242, 116, 93, 0.98)); }
  .phone-nav__link {
    padding: 1.5rem 6rem; }
  .phone-nav__link:link, .phone-nav__link:visited {
    display: block;
    width: inherit;
    font-size: 3rem;
    font-weight: 500;
    text-decoration: none;
    color: #1f202b; }

.menu-open {
  visibility: visible;
  width: 80vw;
  opacity: 1; }

.footer {
  display: block;
  padding: 4rem 4rem 1rem 4rem;
  background-image: linear-gradient(to right bottom, rgba(248, 255, 229, 0.6), rgba(242, 116, 93, 0.95)), url(../img/footer-img.jpg);
  background-color: #f2745d;
  background-size: cover;
  background-position: center;
  color: #f8ffe5;
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .footer__heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center; }
  .footer__social-media {
    grid-column: 2 / 3;
    grid-row: 1 / 21;
    align-self: center;
    justify-self: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
    .footer__social-media--icon {
      padding: 0 2rem; }
    .footer__social-media--link:link, .footer__social-media--link:visited {
      text-decoration: none;
      cursor: pointer; }
    .footer__social-media--link:focus {
      outline-color: #f2745d; }
  .footer__copyright {
    grid-column: 2/ 3;
    grid-row: 6 / 7;
    font-size: 1.4rem;
    align-self: center;
    justify-self: center; }
  .footer .instagram-icon,
  .footer .github-icon,
  .footer .linkedin-icon,
  .footer .twitter-icon {
    height: 5rem;
    width: 5rem;
    fill: #1f202b; }
    @media only screen and (max-width: 20em) {
      .footer .instagram-icon,
      .footer .github-icon,
      .footer .linkedin-icon,
      .footer .twitter-icon {
        height: 4rem;
        width: 4rem; } }
  .footer__home-icon, .footer__top-icon {
    height: 4rem;
    width: 4rem;
    fill: #f8ffe5; }
  .footer__home-box, .footer__top-box {
    grid-column: 20 / 21;
    grid-row: 6 / 7; }
    @media only screen and (max-width: 20em) {
      .footer__home-box, .footer__top-box {
        grid-column: 2 / 3; } }
  .footer__home-link:link, .footer__top-link:link {
    transform: translateY(2px); }
  .footer__name-link:link, .footer__name-link:visited {
    color: #f8ffe5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__name-link:hover, .footer__name-link:active {
    color: #f8ffe5;
    padding: 0 3px;
    background-color: rgba(242, 116, 93, 0.8);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__name-link:focus, .footer__home-link:focus, .footer__top-link:focus {
    outline-color: #f2745d; }

.linkedin-icon:hover,
.twitter-icon:hover,
.github-icon:hover,
.instagram-icon:hover {
  fill: #f8ffe5; }

.header {
  display: block;
  background-image: linear-gradient(to right bottom, rgba(248, 255, 229, 0.3), rgba(242, 116, 93, 0.9)), url(../img/hero-small.jpg);
  background-size: cover;
  background-color: #f2745d;
  color: #f8ffe5;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between; }
  @media (min-resolution: 192dpi) and (min-width: 600px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(248, 255, 229, 0.3), rgba(242, 116, 93, 0.9)), url(../img/hero-large.jpeg); } }
  @media (max-width: 75em) {
    .header {
      padding-bottom: 3rem; } }
  @media (max-width: 37.5em) {
    .header {
      background-position: center; } }
  @media (max-width: 25em) {
    .header {
      background-position: left; } }
  .header__navigation {
    width: 100%;
    font-size: 3rem;
    padding: 2rem 5rem 2rem 2rem;
    align-self: flex-start;
    display: flex;
    justify-content: space-between; }
    .header__navigation--list {
      order: 2;
      list-style-type: none;
      display: flex; }
      @media (max-width: 37.5em) {
        .header__navigation--list {
          visibility: hidden;
          display: none; } }
    .header__navigation--item {
      font-family: "Ubuntu", sans-serif; }
      .header__navigation--item:not(:first-child) {
        padding-left: 3rem; }
    .header__navigation--link:link, .header__navigation--link:visited {
      text-decoration: none;
      color: inherit; }
    .header__navigation--link:hover, .header__navigation--link:focus {
      color: #f2745d;
      outline: none; }
  .header__social-media--link:focus {
    outline-color: #f2745d; }
  .header__social-media--list {
    order: 1;
    margin-left: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
    @media (max-width: 37.5em) {
      .header__social-media--list {
        order: 2;
        position: absolute;
        margin-left: 0;
        top: 2.5rem;
        right: 2.5rem; } }
  .header__social-media--link:link, .header__social-media--link:visited {
    text-decoration: none;
    color: inherit; }
  .header__instagram-icon, .header__github-icon, .header__linkedin-icon, .header__twitter-icon {
    height: 2rem;
    width: 2rem;
    fill: #f8ffe5; }
    @media only screen and (max-width: 20em) {
      .header__instagram-icon, .header__github-icon, .header__linkedin-icon, .header__twitter-icon {
        height: 2rem;
        width: 2rem; } }
  .header__text-box {
    margin: 5rem;
    justify-self: flex-end; }
    @media (max-width: 25em) {
      .header__text-box {
        margin: 3rem; } }

.heading-primary--main,
.heading-primary--sub {
  text-align: right; }

.heading-primary--main {
  animation-delay: 0.5s;
  animation: 1.2s slideUp linear forwards;
  animation-timing-function: ease-out;
  transform: translateY(8rem); }

.heading-primary--sub {
  animation-delay: 0.5s;
  animation: 2s slideUp linear forwards;
  animation-timing-function: ease-out;
  transform: translateY(10rem); }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40rem); }
  40% {
    opacity: 0; }
  80% {
    transform: translateY(0.8rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.header__linkedin-icon:hover,
.header__twitter-icon:hover,
.header__github-icon:hover,
.header__instagram-icon:hover {
  fill: #f2745d; }

/*
.container__about {
    display: grid;
    grid-template-rows: min-content repeat(1, minmax(min-content, 95vh)) min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]
}

.header__about {
    color: $color-neutral;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    padding-bottom: 5rem;
    margin-left: -22rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);

    &--title {
        grid-row: 1 / 2;
        grid-column: 2 / 5;
    }
}

.bio {
    background-color: $color-neutral;
    grid-column: full-start / full-end;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);

    &__background {
        background-image: linear-gradient(to right bottom,  rgba(248, 255, 229, 0.75),  rgba(248, 255, 229, 0.75)), url(../img/canal-img.jpg);
        background-size: cover;
        background-position: left;

        grid-column: 1 / 11;

        &--1 {
            grid-row: 1 / 4;
        }

        &--2 {
            grid-row: 4 / 7;
        }
      

        @include respond(tab-port) { // width < 900?
             grid-column: 1 / 11;   
             background-position: center;
        }
    }

    &__content {
        background-color: rgba(242, 116, 93, 0.95);

        padding: 3rem 0;
        color: $color-neutral;
        grid-column: 2 / 10;
        grid-row: 1 / 7;

        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 3rem;

    }

    &__heading {
        padding: 3rem 3rem 0 3rem;

        grid-column: 1 / 10;


        @include respond(phone) { // width < 600?
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }

    &__text {
        font-size: 1.6rem;
        padding: 3rem;

        grid-column: 1 / 10;

        @include respond(phone) { // width < 600?
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        /*

        &--1, 
        &--3,
        &--5 {
            background-color: rgba(242, 116, 93, 0.95);
            box-shadow: 0.1px 0.2px 5px 0px #666;

            grid-column: 1 / 6;

            @include respond(tab-port) { // width < 600?
                grid-column: 1 / 7;
            }

            @include respond(phone) { // width < 600?
                grid-column: 1 / 9;
                border-radius: 4px;
            }

        }

        &--2,
        &--4,
        &--6 {
            background-color: rgba(242, 116, 93, 0.95);
            box-shadow: 0.1px 0.2px 5px 0px #666;

            grid-column: 4 / 9;

            @include respond(tab-port) { // width < 600?
                grid-column: 3 / 9;
            }

            @include respond(phone) { // width < 600?
                grid-column: 1 / 9;
                border-radius: 4px;
            }
        }

        &--1 {
            margin-top: 3rem;
        }
        &--6 {
            margin-bottom: 3rem;
        } 
    } 

}
*/
/*---------------------------------------------------TEST LAYOUT ABOUT --------------------------------------------------- */
.container__about {
  display: grid;
  grid-template-rows: min-content repeat(1, minmax(min-content, 95vh)) min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.header__about {
  color: #f8ffe5;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  margin-left: -22rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr); }
  .header__about--title {
    grid-row: 1 / 2;
    grid-column: 2 / 5; }
  .header__about__social-media--list {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 5rem); }
    @media (max-width: 37.5em) {
      .header__about__social-media--list {
        padding-left: 0; } }

.bio {
  background-color: #f8ffe5;
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .bio__background {
    background-image: url(../img/canal-img.jpg);
    background-size: cover;
    background-position: left;
    grid-column: 1 /11;
    grid-row: 1 / 7; }
    @media (max-width: 56.25em) {
      .bio__background {
        grid-column: 1 / 11;
        background-position: center; } }
  .bio__content {
    padding: 3rem 0;
    color: #f8ffe5;
    grid-column: 2 / 11;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 3rem; }
  .bio__heading {
    padding: 3rem 3rem 0 3rem; }
    @media (max-width: 37.5em) {
      .bio__heading {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; } }
  .bio__text {
    font-size: 1.6rem;
    padding: 3rem; }
    @media (max-width: 37.5em) {
      .bio__text {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; } }
    .bio__text--1, .bio__text--3, .bio__text--5 {
      background-color: rgba(242, 116, 93, 0.95);
      box-shadow: 0.1px 0.2px 5px 0px #666;
      grid-column: 1 / 6; }
      @media (max-width: 56.25em) {
        .bio__text--1, .bio__text--3, .bio__text--5 {
          grid-column: 1 / 7; } }
      @media (max-width: 37.5em) {
        .bio__text--1, .bio__text--3, .bio__text--5 {
          grid-column: 1 / 9;
          border-radius: 4px; } }
    .bio__text--2, .bio__text--4, .bio__text--6 {
      background-color: rgba(242, 116, 93, 0.95);
      box-shadow: 0.1px 0.2px 5px 0px #666;
      grid-column: 4 / 9; }
      @media (max-width: 56.25em) {
        .bio__text--2, .bio__text--4, .bio__text--6 {
          grid-column: 3 / 9; } }
      @media (max-width: 37.5em) {
        .bio__text--2, .bio__text--4, .bio__text--6 {
          grid-column: 1 / 9;
          border-radius: 4px; } }
    .bio__text--1 {
      margin-top: 3rem; }
    .bio__text--6 {
      margin-bottom: 3rem; }

.about {
  background-color: #1f202b;
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(10, 1fr); }
  .about__background {
    background-image: url(../img/about-img-small.jpg);
    background-size: cover;
    background-position: right;
    grid-row: 1 / 9;
    grid-column: 3 / 11; }
    @media (min-resolution: 192dpi) and (min-width: 600px) {
      .about__background {
        background-image: url(../img/about-img.jpg); } }
    @media (max-width: 37.5em) {
      .about__background {
        grid-column: 1 / 11; } }
  .about__content {
    background-color: rgba(248, 255, 229, 0.93);
    padding: 4rem 3rem;
    grid-row: 3 / 7;
    grid-column: 2 / 7;
    height: 100%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column; }
    .about__content--heading {
      color: #1f202b; }
      @media (max-width: 37.5em) {
        .about__content--heading {
          color: #f8ffe5; } }
    @media (max-width: 56.25em) {
      .about__content {
        grid-column: 2 / 8; } }
    @media (max-width: 37.5em) {
      .about__content {
        grid-column: 2 / 10;
        margin-left: 0;
        background-color: rgba(242, 116, 93, 0.93); } }
    .about__content--text {
      color: #1f202b;
      font-size: 1.5rem; }
      @media (max-width: 37.5em) {
        .about__content--text {
          color: #f8ffe5; } }
      @media (max-width: 25em) {
        .about__content--text {
          font-size: 1.7rem; } }

.contact {
  background-color: #f8ffe5;
  grid-column: full-start / full-end;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /*
    &__form {
        
    }
*/ }
  .contact__background {
    background-image: url(../img/contact-img.jpg);
    background-size: cover;
    grid-column: 1 / 9;
    grid-row: 1 / 9; }
    @media (max-width: 37.5em) {
      .contact__background {
        grid-column: 1 / 11; } }
  .contact__content {
    background-color: rgba(31, 32, 43, 0.98);
    color: #f8ffe5;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-row: 3 / 7;
    grid-column: 5 / 10;
    margin-right: 1.5rem; }
    .contact__content--text, .contact__content--email {
      font-size: 1.5rem;
      color: #f8ffe5;
      text-decoration: none;
      font-style: normal; }
      @media (max-width: 25em) {
        .contact__content--text, .contact__content--email {
          font-size: 1.7rem; } }
    .contact__content--email:hover {
      color: #f15946; }
    .contact__content--email:focus {
      outline-color: #f2745d; }
    @media (max-width: 56.25em) {
      .contact__content {
        grid-column: 4 / 10; } }
    @media (max-width: 37.5em) {
      .contact__content {
        grid-column: 2 / 10;
        margin-left: 0; } }

.portfolio__container {
  background-color: #1f202b;
  grid-column: full-start / full-end;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: [portfolio-start] minmax(6rem, 1fr) [port-center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [port-center-end] minmax(6rem, 1fr) [portfolio-end]; }

.portfolio {
  background-color: #1f202b;
  grid-column: port-center-start / port-center-end;
  margin: 7.5rem 0 15rem 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 8rem; }
  @media (max-width: 37.5em) {
    .portfolio {
      grid-column-gap: 9rem;
      grid-row-gap: 8rem; } }
  .portfolio__main-heading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1;
    padding-top: 7.5rem;
    grid-column: port-center-start/ port-center-end;
    justify-self: center;
    color: #f8ffe5; }
  .portfolio__box {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .portfolio__box a {
      outline-color: #f2745d; }
  .portfolio__img {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 18rem;
    width: 28rem; }
  .portfolio__img:focus, .portfolio__img:hover {
    outline: none;
    border: 3px solid #f15946; }
  .portfolio__img::before, .portfolio__img::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit; }
  .portfolio__img::before {
    border: 3px solid #f3735c;
    top: -12px;
    left: -12px;
    z-index: -1; }
  .portfolio__img::after {
    border: 3px solid #f8ffe5;
    top: 12px;
    left: 12px;
    z-index: 3; }
  .portfolio__img--1 {
    background-image: url(../img/nexter-site.png); }
  .portfolio__img--2 {
    background-image: url(../img/natours-site.png); }
  .portfolio__img--3 {
    background-image: url(../img/magic8ball-game.png); }
  .portfolio__img--4 {
    background-image: url(../img/budget-webapp.png); }
  .portfolio__img--5 {
    background-image: url(../img/sticky-notes-webapp.png); }
  .portfolio__img--6 {
    background-image: url(../img/name-tag-webapp.png); }
  .portfolio__text {
    background-color: inherit;
    color: #f8ffe5;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .portfolio__box--heading {
    background-color: inherit;
    color: #f2745d;
    padding: 2rem; }
  .portfolio__description {
    padding: 0 3rem;
    font-size: 1.5rem; }
    @media (max-width: 25em) {
      .portfolio__description {
        font-size: 1.7rem; } }

.skills__container {
  background-color: #f8ffe5;
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: [skill-start] minmax(6rem, 1fr) [sk-center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [sk-center-end] minmax(6rem, 1fr) [skill-end]; }
  @media only screen and (max-width: 20em) {
    .skills__container {
      grid-template-columns: [skill-start] minmax(3rem, 1fr) [sk-center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [sk-center-end] minmax(3rem, 1fr) [skill-end]; } }

.skills {
  background-color: #f8ffe5;
  grid-column: sk-center-start / sk-center-end;
  margin: 7.5rem 0 15rem 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 8rem; }
  @media (max-width: 56.25em) {
    .skills {
      grid-template-columns: 40rem;
      justify-content: center;
      grid-column-gap: 20rem;
      grid-row-gap: 8rem; } }
  .skills__main-heading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1;
    grid-row: 1 / 2;
    padding-top: 7.5rem;
    grid-column: sk-center-start/ sk-center-end;
    justify-self: center;
    color: #1f202b; }

.skill__box {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.skill__imagebox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: 18rem;
  background-color: #1f202b; }
  .skill__imagebox::before, .skill__imagebox::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit; }
  .skill__imagebox::before {
    border: 3px solid #f3735c;
    top: -12px;
    left: -12px;
    z-index: -1; }
  .skill__imagebox::after {
    border: 3px solid #fecfb2;
    top: 12px;
    left: 12px;
    z-index: 3; }
  .skill__imagebox--html-icon, .skill__imagebox--react-icon, .skill__imagebox--git-icon {
    stroke: #f8ffe5;
    fill: #f8ffe5;
    stroke-width: 0;
    height: 8rem;
    width: 8rem; }

.skill__textbox {
  background-color: inherit;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center; }

.skill__heading {
  background-color: inherit;
  color: #f2745d;
  padding: 2rem; }

.skill__description {
  color: #1f202b;
  padding: 0 3rem;
  font-size: 1.5rem; }
  @media (max-width: 25em) {
    .skill__description {
      font-size: 1.7rem; } }
