.about {
    background-color: $color-dark-theme; 
    grid-column: full-start / full-end;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);


    &__background {
        background-image: url(../img/about-img-small.jpg);
        background-size: cover;
        background-position: right;
        grid-row: 1 / 9;
        grid-column: 3 / 11;

        @media (min-resolution: 192dpi) and (min-width: 600px) {
            background-image: url(../img/about-img.jpg);
        }

        @include respond(phone) { 
            grid-column: 1 / 11;
        }
    }

    &__content {
        background-color: rgba(248, 255, 229, 0.93);// rgba(242, 116, 93, 0.93);
        padding: 4rem 3rem;

        grid-row: 3 / 7;
        grid-column: 2 / 7;
        height: 100%;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;

        &--heading {
            color: $color-dark-theme;


            @include respond(phone) { 
                color: $color-neutral;
            }
           
        }

        @include respond(tab-port) { 
            grid-column: 2 / 8;
        }

        @include respond(phone) { 
            grid-column: 2 / 10;
            margin-left: 0;
            background-color: rgba(242, 116, 93, 0.93);

        }


        &--text {
            color: $color-dark-theme; //$color-neutral;
            font-size: 1.5rem;

            @include respond(phone) {
                color: $color-neutral;
            }

            @include respond(sm-phone) { 
                font-size: 1.7rem;
            }
        }
    }

}
