.about {
    background-color: $color-neutral;
    grid-column: full-start / full-end;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);

    &__background {
        background-image: url(../img/about-img.jpg);
        background-size: cover;
        background-position: right;
        grid-row: 1 / 9;
        grid-column: 3 / 11;
    }

    &__img-1 {
        //width: 100%;

    }

    &__content {
        background-color: rgba(242, 116, 93, 0.95);
        padding: 2rem 3rem;

        grid-row: 3 / 7;
        grid-column: 2 / 7;
        height: 100%;
        margin-left: 1.5rem;
    

        &--text {
            color: $color-neutral;
            font-size: 1.5rem;
        }
    }
}