.btn {
    
    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.3rem;
        border-radius: 1rem;
        padding: 1.1rem 2rem;
        border: none;
        transition: all .2s; 
        cursor: pointer;
        font-family: $font-main;  
     }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-dark-alt,.2);
    }

    &:active,
    &:focus {
        color: $color-neutral;
        background-color:  rgb(31, 32, 43);
        outline: none;
    }
    
    &--light {
        background-color: $color-neutral;
        color: $color-dark-alt;
        align-self: flex-end;
    }
}