.btn {
    
    &,
    &:link,
    &:visited {
        text-decoration: none;
        //text-transform: uppercase;
        font-size: 1.4rem;
        border-radius: 1rem;
        padding: 1.1rem 2rem;
        border: none;
        transition: all .2s; 
        cursor: pointer;
        font-family: $font-main; 
        font-weight: 500; 
     }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-dark-alt,.2);
    }

    &:active,
    &:focus {
        color: $color-neutral;
        background-color: $color-primary-light;
        outline: none;
        
        @include respond(phone) {
            color: $color-neutral;
        }   background-color: $color-dark-theme ;
    }
    
    &--light {
        background-color: $color-neutral;
        color: #353640;
        align-self: flex-end;
    }

    &--primary {
        background-color: $color-primary-light;
        color: $color-neutral;
        align-self: flex-end;
    }

    &--dark {
        background-color: $color-dark-theme;
        color: $color-neutral;
        align-self: flex-end;

        @include respond(phone) {
            background-color: $color-neutral;
            color: $color-dark-theme;
        }   
    }
}