      /*COLOURS */
    $color-primary-light: rgb(243, 115, 92);
    $color-primary: rgb(241, 89, 70);
    $color-primary-dark: rgb(207, 72, 56);

    $color-contrast: #2b8c8c;
    $color-neutral: #F8FFE5;
    $color-dark-theme: #1f202b;
    $color-dark-alt: #283845;
    $color-darker-alt: #202C39;

    /* FONTS */
    $font-title: 'Roboto Slab', serif;
    $font-headings: 'Ubuntu', sans-serif;
    $font-main: 'Montserrat', sans-serif;
    
  
    *, 
    *::before, 
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }
    html {
        font-size: 62.5%; // 10px/16px = 62.5% 1rem = 10px;    
    }
  
    body {
      font-family: $font-main;
      line-height: 1.7;
      color: #202C39;
      box-sizing: border-box;
      background-color: $color-dark-theme; 
    }

    .container {
      display: grid;
      grid-template-rows: 100vh repeat(4, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

 
    }