%heading {
    font-family: $font-title;
    font-weight: 400;
    color: $color-neutral;
}

.heading-1 {
    @extend %heading;
    font-size: 8rem;
    line-height: 1;
}

.heading-1-5 {
    @extend %heading;
    font-size: 6rem;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    color: $color-neutral;
}

.heading-2-5 {
    @extend %heading;
    font-size: 3.5rem;
    color: $color-primary-light;
}

.heading-3 {
    font-family: $font-headings;
    font-weight: 400;
    font-size: 3.5rem;
    color: $color-neutral;
    line-height: 1;
}

.heading-4 {
    font-family: $font-headings;
    font-weight: 400;
    font-size: 2.5rem;
    color: $color-primary-light;
    line-height: 1;

}

//Helper classes for margins
.mb-mini {margin-bottom: 1rem;}
.mb-sm { margin-bottom: 2rem;}
.mb-md { margin-bottom: 3rem;}
.mb-lg { margin-bottom: 4rem;}
.mb-hg { margin-bottom: 8rem;}